* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    font-family: Poppins;
}

header {
    background-color: #965A1B;
    display: flex;
    height: 23.375rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.5rem;
    position: absolute;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #E5CF94;
    padding-top: 18.875rem;
    width: 100%;
    align-items: center;
    min-block-size: 100vh;
}

#overview {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 5.4375rem;
}

.blocos {
    width: 88%;
    display: flex;
    flex-direction: column;
    height: 8rem;
    background-color: white;
    margin-bottom: 1.625rem;
    border-radius: 5px;
    padding: 1rem 1.25rem;
    justify-content: space-between;
    z-index: 1;
}

.blocos div {
    display: flex;
    justify-content: space-between;
}

.blocos h2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.blocos p {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
}

#entrada {
    background-color: #5F3305;
}

#entrada h2 {
    color: white;
}

#entrada p {
    color: white;
}

#btn-add {
    border: none;
    background: none;
    color: #5F3305;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    align-self: flex-start;
    margin-left: 6%;
    cursor: pointer;
}

#fila {
    display: flex;
    flex-direction: column;
    margin-top: 0.3125rem;
    margin-bottom: 3.625rem;
    align-items: center;
}

.pedidos {
    display: flex;
    padding: 1rem;
    padding-right: 1.5625rem;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFFCC;
    border-radius: 5px;
    height: 6.25rem;
    width: 88vw;
    margin-bottom: 1.375rem;
}

.pedidos h3 {
    color: #5F3305;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.pedidos p {
    color: #5F3305;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    margin-top: 0.3125rem;
}

.pedidos span {
    color: #5F3305;
    font-weight: normal;
}

.pedidos img {
    cursor: pointer;
}

footer {
    margin-top: 3.625rem;
    margin-bottom: 5rem;
    color: #5F3305;
    font-size: 14px;
    line-height: 18px;

}

#modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background: #E5CF9480;
    z-index: 2000;
}

#modal-add {
    height: 28.5625rem;
    width: 88%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate(0, -60px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#modal h2 {
    color: #5F3305;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 3.125rem;
    margin-bottom: 1.5625rem;
}

#modal input {
    height: 3.125rem;
    width: 81.82%;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.9375rem;
    padding: 16px 25px;
    font-size: 12px;
    line-height: 18px;
}

#modal-add div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-enviar {
    border: none;
    border-radius: 5px;
    background:#5F3305;
    color: white;
    width: 78.79%;
    height: 3.75rem;
    cursor: pointer;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 1.875rem;
    margin-top: 3rem;
}

#btn-cancel {
    border-color: #DB1E1E;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background:white;
    color: #DB1E1E;
    width: 78.79%;
    height: 3.75rem;
    cursor: pointer;
}

#modal.active {
    display: flex;
    animation: modal .3s;
}

@media (min-width: 769px) {
    header {
        padding-bottom: 4.3125rem;
    }

    main {
        padding-top: 19.0625rem;
    }

    #overview {
        width: 64.32%;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5rem;
        min-width: 760px;
    }

    .blocos {
        width: 31.98%;
        height: 8.5rem;
        margin: 0px;
    }
    
    .blocos img {
        width: 1.5625rem;
        height: 1.375rem;
    }

    #btn-add {
        margin-left: 17.84%;
    }

    #fila {
        margin-top: 1.5625rem;
        margin-bottom: 1.5625rem;
        width: 100%;
    }

    .pedidos {
        width: 64.32%;
        height: 4.8125rem;
    }

    .pedidos img {
        width: 1.5rem;
        height: 1.5625rem;
    }

    .pedidos div div {
        display: flex;
    }

    .pedidos p {
        margin-right: 0.9375rem;
    }

    footer {
        margin-top: 3.4375rem;
    }

    #modal-add {
        width: 31.51%;
        height: 21.6875rem;
        min-width: 460px;
    }

    #modal h2 {
        margin-top: 1.875rem;
        align-self: flex-start;
        margin-left: 4.96%;
    }

    #modal input {
        width: 90.08%;
    }

    #modal-add div {
        flex-direction: row;
        width: 90.08%;
        justify-content: space-between;
    }

    #btn-enviar {
        width: 47.71%;
        margin-bottom: 0;
    }

    #btn-cancel {
        width: 47.71%;
        margin-top: 3rem;
    }
}